ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Courier New;
  }
  li a:hover {
    background-color:hsla(300, 84%, 20%, 0.808);
  }
  *{
      padding: 0px;
      margin: 0px;
  }
.container{
    margin: 50% auto;
    width: 50%;
    padding: 8px;
}


#my_pic{
    float: left;
    width: 40%;
    height: auto;
    padding: 0 10px 0 0;
}
.text{
    text-align:center;
    font-family: Calibri;
    font-size: 250%;
}
.responsive {
    width: 100vw;
    height: 100vh;
    
  }