ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Courier New;
  }
  li a:hover {
    background-color:hsla(300, 84%, 20%, 0.808);
  }
  *{
      padding: 0;
      margin: 0;
      text-align:center;
  }
.container{
    margin: 50% auto;
    width: 50%;
    padding: 8px;
}


#my_pic{
    float: left;
    width: 27%;
    height: auto;
    padding: 0 10px 0 0;
}
.text1{
    text-align:center;
    font-family: Calibri;
    font-size: 250%;
}
.responsive {
    width: 100%;
    height: auto;
    
  }
  #paragraph{
    font-size:90%;
  }
  #about{
    padding: 50px 0 50px 0;
  }

  #logos{
    background-color: white;
    list-style-type: none;
    
  }
  

  .skills-container{
    /* width: 200px; */
    margin: 4% 2%;
    /* height: 250px; */

    display: inline-block;

  }
  .image{
    width: 200px;
    height: 200px;
  }
  .skills-container-container{
    width: auto;
    height: auto;
    text-align:center;
    padding: 20px;
    
}
#skills{
  text-align: center;
  font-family: Calibri;
  font-size: 250%;
  padding: 250px 0 50px 0; 
}